@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custom Tab</title>
</head>
<body>
    <div>
		Custom Tab
    </div>
</body>
</html>
